@model DesafioWebApplication.Models.Entidades.ComunicadoEntity

@{
    ViewBag.Title = "Envio de Comunicado";
}

<h2>Envio de Comunicado</h2>


@using (Html.BeginForm("", "", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>AssuntoEntity</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Tipo Assunto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdAssunto, (SelectList)ViewBag.TipoAssunto, "Selecione...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdAssunto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Nome Usuário", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IdUsuario, (SelectList)ViewBag.NomeUsuarios, "Selecione...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Comunicado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.TextoComunicado, new { @class = "form-control", @rows = "4", @cols = "10", @placeholder = "Digite aqui seu comunicado..." })
            @Html.ValidationMessageFor(model => model.TextoComunicado, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enviar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
